In [1]:
import pyodbc

In [2]:
# Define connection parameters
server = 'DESKTOP-8C0JHNN\SQLEXPRESS' 
database = 'testDB'

# Establish connection using trusted connection
# username = 'your_username'
# password = 'your_password'
# connection_string = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};'

connection_string = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};Trusted_Connection=yes;'

# Create a connection
conn = pyodbc.connect(connection_string)

# Print success message
print("Connection established successfully!")

Connection established successfully!

In [3]:
# afficher les différentes tables de la BDD 'testDB'
try:
    conn = pyodbc.connect(connection_string)
    cursor = conn.cursor()

    # Get the list of available tables in the database
    cursor.execute("SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE='BASE TABLE';")
    
    table_names = [row.TABLE_NAME for row in cursor.fetchall()]

    if len(table_names) > 0:
        print("Available tables in the database:")
        for table_name in table_names:
            print(table_name)
    else:
        print("No tables found in the database.")
    
except pyodbc.Error as e:
    print(f"Error: {e}")
finally:
    conn.close()

Available tables in the database:
Persons3
Customer
Employees1
Employees2
Employees3
ProjectEmployees
Persons4
algeria_cities
Cities
StagingCities
TableA
TableB
Persons2
Employees
Persons
Departments
Orders

In [6]:
# Create a connection
conn = pyodbc.connect(connection_string)

# Create a cursor object
cursor = conn.cursor()

# Define the query
select_query = """
                SELECT [EmployeeName], [Department] 
                FROM [Employees17];
                """

# Execute the query
cursor.execute(select_query)

# Fetch all results
rows = cursor.fetchall()

# Print the results
for row in rows:
    print(row)

# Close the cursor
cursor.close()

print("suite du code")

ProgrammingError: ('42S02', "[42S02] [Microsoft][ODBC SQL Server Driver][SQL Server]Invalid object name 'Employees17'. (208) (SQLExecDirectW)")

In [24]:
try:
    conn = pyodbc.connect(connection_string)
    cursor = conn.cursor()

    # Define the query
    select_query = """
                    SELECT TOP (1000) [EmployeeID]
                        ,[EmployeeName]
                        ,[Department]
                    FROM [Employees1]
                    """

    # Execute the query
    cursor.execute(select_query)

    # Fetch all results
    rows = cursor.fetchall()

    # Print the results
    for row in rows:
        print(row)

except pyodbc.Error as e:
    print(f"Error: {e}")

finally:
    conn.close()

(1, 'John Doe', 'Sales')
(2, 'Jane Smith', 'HR')
(3, 'Michael Brown', 'IT')
(4, 'Mohamed LARBI', 'Production')
(5, 'DIB Hamid', 'IT')
(6, 'MOULOUDI Mohamed', 'HR')
(7, 'MOULAY Hani', 'IT')
(8, 'DIB AMINE', 'IT')

In [8]:
# la requête INSERT
try:
    conn = pyodbc.connect(connection_string)
    cursor = conn.cursor()

    # Define the insert query
    insert_query = """ 
                        INSERT INTO [Employees1] 
                            ([EmployeeID], [EmployeeName], [Department]) 
                            VALUES
                            (?, ?, ?);
                    """

    values = (5, 'MOULOUDI Said', 'HR')  # Replace with actual values

    # Execute the insert query
    cursor.execute(insert_query, values)

    # Commit the transaction
    conn.commit()

    # Print success message
    print("Data inserted successfully!")

except pyodbc.Error as e:
    print(f"Error: {e}")

finally:
    conn.close()

Data inserted successfully!

In [25]:
# la requête INSERT
try:
    conn = pyodbc.connect(connection_string)
    cursor = conn.cursor()

    # Define the insert query
    insert_query = """ 
                        INSERT INTO [Employees1] 
                            ([EmployeeID], [EmployeeName], [Department]) 
                            VALUES
                            (?, ?, ?);
                    """

    values = (5, 'MOULOUDI Taher', 'HR')

    # Execute the insert query
    cursor.execute(insert_query, values)

    # Commit the transaction
    conn.commit()

    # Print success message
    print("Data inserted successfully!")

except pyodbc.Error as e:
    print(f"Error: {e}")

finally:
    conn.close()

Error: ('23000', "[23000] [Microsoft][ODBC SQL Server Driver][SQL Server]Violation of PRIMARY KEY constraint 'PK_Employee1'. Cannot insert duplicate key in object 'dbo.Employees1'. The duplicate key value is (5). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC SQL Server Driver][SQL Server]The statement has been terminated. (3621)")

In [12]:
# la requête INSERT with many rows
try:
    conn = pyodbc.connect(connection_string)
    cursor = conn.cursor()

    # Define the insert query
    insert_query = """ 
                        INSERT INTO [Employees1] 
                            ([EmployeeID], [EmployeeName], [Department]) 
                            VALUES
                            (?, ?, ?);
                    """

    values = [
        (6, 'MOULOUDI Mohamed', 'HR'),
        (7, 'MOULAY Hani', 'IT'),
        (8, 'DIB AMINE', 'IT')
    ] 

    # Execute the insert query for multiple rows
    cursor.executemany(insert_query, values)

    # Commit the transaction
    conn.commit()

    # Print success message
    print("Data inserted successfully!")

except pyodbc.Error as e:
    print(f"Error: {e}")

finally:
    conn.close()

Data inserted successfully!

In [19]:
# la requête UPDATE qui permet de modifier les valeurs des colonnes
try:
    conn = pyodbc.connect(connection_string)
    cursor = conn.cursor()

    # Define the update query
    update_query = """
                    UPDATE Persons
                        SET [LastName] = ? 
                        WHERE [PersonID] = ?
                    """
    values = ('MOULAY', 2)  # Replace with actual values

    # Execute the update query
    cursor.execute(update_query, values)

    # Commit the transaction
    conn.commit()

    # Print success message
    print("Data updated successfully!")

except pyodbc.Error as e:
    print(f"Error: {e}")

finally:
    conn.close()

Data updated successfully!

In [20]:
# la requête DELETE qui permet de supprimer des lignes
try:
    conn = pyodbc.connect(connection_string)
    cursor = conn.cursor()

    # Define the update query
    delete_query = """
                    DELETE FROM Persons
                        WHERE [PersonID] = ?
                    """
    values = (1,) 

    # Execute the delete query
    cursor.execute(delete_query, values)

    # Commit the transaction
    conn.commit()

    # Print success message
    print("Data deleted successfully!")

except pyodbc.Error as e:
    print(f"Error: {e}")

finally:
    conn.close()

Data deleted successfully!

In [22]:
# la requête ALTER qui permet de modifier la structre de la table
try:
    conn = pyodbc.connect(connection_string)
    cursor = conn.cursor()

    # Define the alter query
    alter_query = """
                    ALTER TABLE Employees1
                    ALTER COLUMN EmployeeID INT NOT NULL;
                    """
    values = () 

    # Execute the alter query
    cursor.execute(alter_query)

    # Commit the transaction
    conn.commit()

    # Print success message
    print("Table altered successfully!")

except pyodbc.Error as e:
    print(f"Error: {e}")

finally:
    conn.close()

Table altered successfully!

In [23]:
# la requête ALTER qui permet de modifier la structre de la table
try:
    conn = pyodbc.connect(connection_string)
    cursor = conn.cursor()

    # Define the alter query
    alter_query = """
                    ALTER TABLE Employees1
                    ADD CONSTRAINT PK_Employee1 PRIMARY KEY (EmployeeID);
                    """
    values = () 

    # Execute the alter query
    cursor.execute(alter_query)

    # Commit the transaction
    conn.commit()

    # Print success message
    print("Table altered successfully!")

except pyodbc.Error as e:
    print(f"Error: {e}")

finally:
    conn.close()

Table altered successfully!